<!DOCTYPE html>
<html>
<head>
	<title>Member</title>
	<link rel="stylesheet" type="text/css" href="css/table-style.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>
		<div class="subnavbar">
				<div class="logo">
				
				</div>
				<a class="btn">
				<span></span>
				<span></span>
				<span></span>
				</a>
				<div class="search-box">
				  <input  class="search-txt" type="text" name="" placeholder="Type to search"/>
				  <a class="search-btn" href="#">
				   <i class="fas fa-search"></i>
				  </a>
				 </div>
					<div class="menu">
						
						<a href="login.html">Login</a>
						<i class="fas fa-user"></i>
						<a href="register.html">Register</a>
						<i class="fas fa-clipboard-list"></i>
					</div>
				</div>
				<div class="navbar">
					<div class="dropdown">
						<i class="fas fa-bars"></i>
						<button class="dropbtn">Categories</button>
						<div class="dropdown-content">
						<a href="#">Buah buahan</a>
						<a href="#">Kacang kacangan</a>
						<a href="#">Sayur sayuran</a>
						</div>
					  </div>
					<a class="btn">
					<span></span>
					<span></span>
					<span></span>
					</a>
					
						<div class="menu">
							<a href="index.html">Home</a>
							<a href="shop.html">Shop</a>
							<a href="cart.html">Member</a>
							<a href="contact.html">Seller</a>
						</div>
					</div>
	<form class="logout" method="POST" action="">
	</form>
	<h2>ALL SELLER</h2>
	<table class="table1">
		<tr>
			<th>NO</th>
			<th>Nama</th>
			<th>Alamat</th>
			<th>nomor hp</th>
			<th>Aksi</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Mustiari</td>
			<td>jalan mawar</td>
			<td>0871456411</td>
			<td>
				<form class="formSiswa" method="POST" action="">
					<input type="submit" name="edit" class="blue" value="Edit">
					<input type="submit" name="hapus" class="red" value="Hapus">
				</form>
				<!-- <a href="edit.html" class="blue">Edit</a> &ensp;
				<a href="" class="red">Hapus</a> -->
			</td>
		</tr>
		
			<tr>
				<td>2</td>
				<td>opal</td>
				<td>jalan gagak</td>
				<td>0871456411</td>
				<td>
					<form class="formSiswa" method="POST" action="">
						<input type="submit" name="edit" class="blue" value="Edit">
						<input type="submit" name="hapus" class="red" value="Hapus">
					</form>
					<!-- <a href="edit.html" class="blue">Edit</a> &ensp;
					<a href="" class="red">Hapus</a> -->
				</td>
			</tr>
				<tr>
					<td>3</td>
					<td>iki</td>
					<td>jalan harimau</td>
					<td>0871456411</td>
					<td>
						<form class="formSiswa" method="POST" action="">
							<input type="submit" name="edit" class="blue" value="Edit">
							<input type="submit" name="hapus" class="red" value="Hapus">
						</form>
						<!-- <a href="edit.html" class="blue">Edit</a> &ensp;
						<a href="" class="red">Hapus</a> -->
					</td>
				</tr>
					<tr>
						<td>4</td>
						<td>Thomas</td>
						<td>jalan kiri</td>
						<td>0871456411</td>
						<td>
							<form class="formSiswa" method="POST" action="">
								<input type="submit" name="edit" class="blue" value="Edit">
								<input type="submit" name="hapus" class="red" value="Hapus">
							</form>
							<!-- <a href="edit.html" class="blue">Edit</a> &ensp;
							<a href="" class="red">Hapus</a> -->
						</td>
					</tr>
						<tr>
							<td>5</td>
							<td>Ditha</td>
							<td>jalan anggrek</td>
							<td>0871456411</td>
							<td>
								<form class="formSiswa" method="POST" action="">
									<input type="submit" name="edit" class="blue" value="Edit">
									<input type="submit" name="hapus" class="red" value="Hapus">
								</form>
								<!-- <a href="edit.html" class="blue">Edit</a> &ensp;
								<a href="" class="red">Hapus</a> -->
							</td>
						</tr>

	</table>

	<form class="kotak" method="POST" action="">
		<input type="submit" name="tambah" class="blue" value="Tambah Member">
	</form>
	

</body>
</html>